@import "~bulma/sass/utilities/_all";
@import "font";
$family-primary: 'Inter', sans-serif;
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

$primary: #FF8A8A;
$primary-invert: findColorInvert($primary);
$link: #FF8A8A;
$carousel-arrow-color: #0F1A42;
$carousel-arrow-background: transparent;
$carousel-indicator-color: #0F1A42;
$colors: (
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert)
);

@import "~bulma";
@import "~buefy/src/scss/buefy";

html {
  overflow-y: auto;
  position: relative;
  min-height: 100%;
}

body {
  overflow: hidden;
  scroll-behavior: smooth;
  color: #1a1a1a;
}

h1 {
	font-weight: bold;
	font-size: 40px;
	line-height: 59px;
	letter-spacing: -2px;
	color: #0F1A42;
}

h2 {
	font-family: Gilbert;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 36px;
	color: #FF8A8A;
  margin-bottom: 24px;
}

h3 {
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
	color: #0F1A42;
  span {
    background: linear-gradient(180deg, #ffffff 50%, #FFC5C5 60%);
  }
}

h4 {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: #0F1A42;
}

h5 {
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: #0F1A42;
}

.content li + li {
  margin-top: 22px;
}

.content ul {
  list-style: none;
  li { 
    position: relative;
  }
  li:before {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: -30px;
    width: 20px;
    height: 20px;
    background-image: url('~assets/img/checkmark.svg');
    background-size: cover;
  }
}

.subtitle {
  color: rgba(15, 26, 66, 0.65);
  font-size: 16px;
  display: flex;
  align-items: center;
  img { margin-right: 10px; width: 18px; margin-top: 2px; }
}

p.price {
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #0F1A42;
  margin-bottom: 12px;
  span { text-decoration: line-through; }
}

.button {
  padding: 20px 40px;
  @media (max-width: 769px) {
    padding: 20px 20px;
  }
  background: #FF8A8A;
  border-radius: 40px;
  font-weight: 300;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -1px;
  color: #FAFAFA;
  border: none;
  outline: none;
  transition: all .2s ease;
  &:hover { color: #fafafa; }
  @media (min-width: 1000px) {
    &:hover {
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 10px 20px rgba(0, 0, 0, 0.04);
      transform: scale(1.02);
    }
  }
}

.carousel-arrow .icon.has-icons-left {
  left: -64px;
}

.carousel-arrow .icon.has-icons-right {
  right: -64px;
}

.carousel-arrow .icon:hover {
  border: none;
}