<template>
	<section class="section">
		<div class="container">
			<h2 class="has-text-centered">Principais dúvidas</h2>
			<div class="faq">
				<div>
		      <div class="item" @click="select(1)" :class="{active:selected === 1}">
		        <div class="itemTitle">
							Preciso já ser influencer para começar?
		        </div>
		        <div class="itemDesc">
							Não, nosso conhecimento irá te ajudar desde a começar do 0 ou a tirar sua carreira da estagnação.
		        </div>
		      </div>
		      <div class="item" @click="select(2)" :class="{active:selected === 2}">
		        <div class="itemTitle">
		          Quais são as formas de pagamento?
		        </div>
		        <div class="itemDesc">
		          Você pode efetuar o pagamento por <strong>cartão de crédito</strong> ou boleto.
		        </div>
		      </div>
		      <div class="item" @click="select(3)" :class="{active:selected === 3}">
		        <div class="itemTitle">
		          Como terei acesso ao curso?
		        </div>
		        <div class="itemDesc">
		          Você receberá instruções por e-mail assim que sua compra for efetuada.
		        </div>
		      </div>
		      <div class="item" @click="select(4)" :class="{active:selected === 4}">
		        <div class="itemTitle">
		          Continuo com dúvidas, o que devo fazer?
		        </div>
		        <div class="itemDesc">
		          Entre em contato com a gente pelo email <strong>cursoisabellalima@gmail.com</strong>.
		        </div>
		      </div>
				</div>
			</div>
			<div class="columns down">
				<div class="column is-narrow">
					<img src="~/assets/img/logo-icon.svg">
				</div>
				<div class="column has-text-centered">
					<div class="links">
						<a>Política de Privacidade</a>
						<nuxt-link to="/legal">Aviso Legal</nuxt-link>
						<span>2020 - Todos os direitos reservados</span>
					</div>
				</div>
			</div>
		</div>
		<img src="~/assets/img/plant.svg" class="plant">
		<img src="~/assets/img/abajour.svg" class="abajour">
	</section>
</template>

<script>
	export default {
		data() {
			return {
				selected: null
			}
		},
		methods: {
			select(event) {
				if(this.selected === event) {
					this.selected = null
				} else {
					this.selected = event
				}
			}
		}
	}
</script>

<style lang="scss" scoped>
.plant {
	position: absolute;
	width: 85px;
	height: 120.56px;
	bottom: 0;
	right: 100px;
}
.abajour {
	position: absolute;
	width: 124.12px;
	height: 271px;
	bottom: 0;
	right: 150px;
}
.columns.down {
	margin-top: 120px;
	display: flex;
	align-items: center;
	.links a { margin-right: 42px; font-weight: 500; color: #333333; opacity: 0.7; &:hover { opacity: 1; } }
	.links span { font-weight: 500; color: #333333; opacity: 0.7; }
}
	.section {
		position: relative;
		margin-top: 100px;
		background: rgba(247, 235, 229, 0.2);
		min-height: 512px;
	}
	.faq {
		display: flex;
		justify-content: center;
		margin-top: 8px;
	}
  .item {
    width: 420px;
    min-height: 46px;
    border: 2px solid #333333;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 24px;
    .itemTitle {
      padding: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 600;
      color: rgba(51, 51, 51, 0.8);
      opacity: .75;
      cursor: pointer;
      margin-bottom: -1px;
      min-height: 50px;
      &::after {
        content: '';
        display: inline-block;
        position: relative;
        min-width: 14px;
        height: 14px;
        margin-right: 4px;
        background: url(../assets/img/down.svg);
        background-size: 14px 14px;
        background-repeat: no-repeat;
        vertical-align: middle;
      }
      &:hover { opacity: 1; }
    }
    .itemDesc {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: -32px;
      padding: 16px;
      border-top: 1px solid #333333;
      color: #333333;
      visibility: hidden;
      opacity: 0;
      max-height: 0px;
      transition: max-height 400ms ease, opacity 600ms linear 0.2s, margin-bottom 300ms ease, visibility 500ms ease;
      a { color: #70B5B6; opacity: 0.75; font-weight: 600; &:hover { opacity: 1; } }
    }
    &.active {
      .itemDesc { opacity: 1; max-height: 600px; margin-bottom: unset; visibility: visible; }
      .itemTitle { opacity: 1; margin-bottom: unset; }
      .itemTitle:after { transform: rotate(180deg); }
    }
  }

  @media (max-width: 769px) {
		.item {
			width: 100%;
			.itemTitle {
				padding: 8px;
			}
		}
		.columns.down {
			flex-direction: column;
			.links {
				display: flex;
				flex-direction: column;
				a { margin-right: unset; }
			}
		}
		.plant {
			right: -40px;
		}
		.abajour {
			display: none;
		}
  }
</style>