<template>
	<section class="section">
		<img src="~/assets/img/circle.svg" class="circle">
		<div class="container">
			<nav>
				<img src="~/assets/img/logo.svg">
			</nav>
			<div class="columns">
				<div class="column is-half">
					<h1>
						Chega de adiar o seus planos 
						por medo do julgamento alheio 
						ou por falta de experiência!
					</h1>
					<a class="button" href="https://pay.hotmart.com/W28688081G">
						QUERO COMEÇAR
					</a>
				</div>
				<div class="column is-half">
					<figure class="image is-16by9">
						<iframe class="has-ratio" width="100%" height="auto" src="https://www.youtube.com/embed/4GaaA9D6Y60?color=white&playsinline=1&rel=0&modestbranding=1" frameborder="0" allow="autoplay; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
					</figure>
				</div>
			</div>
		</div>
	</section>
</template>

<script>

</script>

<style lang="scss" scoped>
	.section {
		position: relative;
		min-height: 618px;
		background: rgba(247, 235, 229, 0.75);
		padding-top: 32px;
		.columns {
			margin-top: 42px;
			.column:first-of-type { align-self: flex-end; }
			iframe { box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 10px 20px rgba(0, 0, 0, 0.04); }
		}
		.button { margin-top: 42px; }
		@media (max-width: 769px) {
			.columns {
				display: flex;
				flex-direction: column;
				.column:first-of-type { order: 9; max-width: 100%; }
				.button { text-align: center; }
			}
			h1 {
				font-size: 30px;
				line-height: 38px;
			}
		}
	}

	.circle {
		@media (max-width: 769px) {
			width: 200px;
			height: auto;
		}
		position: absolute;
		top: 0;
		right: 0;
	}
</style>