<template>
	<section class="section">
		<div class="container">
			<h2 class="has-text-centered">O que terá no curso?</h2>
			<div class="columns is-centered is-mobile">
				<div class="column items is-8">
					<div class="content">
						<ul>
							<li><strong>5 módulos</strong> já gravados.</li>
							<li><strong>Um plano de estudo</strong> perfeito para te guiar e te manter motivado durante o curso.</li>
							<li><strong>Tarefas e ferramentas</strong> para colocar em prática.</li>
							<li><strong>Bônus:</strong> Desafio final de 30 dias para você continuar na motivação!</li>
							<li><strong>Grupo no Telegram</strong> com dicas atuais e dúvidas.</li>
							<li><strong>5 aulas ao vivo</strong> com especialistas de startups e grandes empresas para as 50 primeiras que ficarão disponíveis (iremos passar as datas).</li>
							<li><strong>Planner</strong> 10 Dias de autoconhecimento.</li>
							<li><strong>Planilha financeira</strong> para controlar seus ganhos e custos.</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="columns is-centered">
				<div class="column is-narrow has-text-centered">
					<p class="price">De <span>R$400</span> por <b>R$250,00</b> ↘</p>
					<a class="button" href="https://pay.hotmart.com/W28688081G">
						QUERO COMPRAR
					</a>
				</div>
			</div>
		</div>
	</section>
</template>


<style lang="scss" scoped>
	.container {
		margin-top: 48px;
	}
	.columns:first-of-type {
		margin-top: unset;
		margin-bottom: 52px;
	}
	.column.items {
		position: relative;
		background: #F7EBE5;
		border-radius: 20px;
		display: flex;
		justify-content: center;
		padding: 32px;
		.content {
			max-width: 533px;
			> ul { margin-top: unset; }
		}
		&:after {
			content: '';
			position: absolute;
			left: -50px;
			top: 92px;
			width: 76.13px;
			height: 224px;
			background-image: url('~assets/img/left-side-woman.svg');
		}
	}
	@media (max-width: 769px) {
		.columns > .column.items { width: 90%; }
	}
</style>