<template>
	<section class="section">
		<div class="container">
			<h2 class="has-text-centered">O que você irá aprender?</h2>
			<div class="columns is-centered is-mobile">
				<div class="column is-8 items">
					<div class="content">
						<ul>
							<li>Desmistificação da influência.</li>
							<li>Entender de onde vem o seu medo e como lidar com ele.</li>
							<li>Ferramentas para se diferenciar no Instagram.</li>
							<li>Como definir seu nicho e micronicho de uma forma <strong>personalizada</strong>.</li>
							<li>Quais são seus maiores desafios e como lidar com eles.</li>
							<li>Entender como funciona o <strong>algoritmo do Instagram</strong>.</li>
							<li>Desmistificação de engajamento.</li>
							<li>Entender o que seus seguidores esperam de você.</li>
							<li>Quais números você deve realmente se apegar.</li>
							<li>Como construir uma comunidade no Instagram.</li>
							<li>Como utilizar a conexão visual.</li>
							<li>Como utilizar cada ferramenta do Instagram.</li>
							<li>Dicas para fazer <strong>conteúdos</strong> que gere valor.</li>
							<li>Modelo de Midia Kit.</li>
							<li>Como fazer parcerias e quais as formas de receber.</li>
							<li>Como chamar atenção de marcas e enviar propostas.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>

<style lang="scss" scoped>
	.column.items {
		position: relative;
		background: rgba(204, 218, 205, 0.2);
		border-radius: 20px;
		display: flex;
		justify-content: center;
		padding: 32px;
		.content {
			max-width: 533px;
			> ul { margin-top: unset; }
		}
		&:after {
			content: '';
			position: absolute;
			right: -80px;
			top: 550px;
			width: 118.74px;
			height: 224px;
			background-image: url('~assets/img/right-side-woman.svg');
		}
	}
	@media (max-width: 769px) {
		.columns > .column.items {
			width: 90%;
			&:after {
				background-size: 82px;
				background-repeat: no-repeat;
				width: 60px;
				right: -34px;
				top: 1000px;
			}
		}
	}
</style>