<template>
	<section class="section">
		<div class="container">
			<div class="columns">
				<div class="column is-half">
					<img src="~/assets/img/ilustra1.svg">
				</div>
				<div class="column is-half">
					<h2>Invista em você: já passou da hora</h2>
					<p>
						Não é preciso ter 1 milhão de seguidores para ser uma <strong>boa influencer</strong> e <strong>monetizar seu Instagram</strong> ou <strong>divulgar seu serviço</strong>. Hoje, as <strong>microinfluencers</strong> são muito importantes para pequenos negócios, ações específicas de grandes marcas e criação de autoridade na sua profissão.
						<br /><br />
						Aqui você vai aprender <strong>tudo</strong> sobre ser influencer na prática com <strong class="has-text-primary">Bella Lima</strong> e como lidar com o medo fortalecendo sua <strong>autoestima</strong>!
						<br /><br />
						<strong>Diferente de todos os cursos de Marketing, trouxemos uma psicóloga para abordar esse tema</strong> e ensinar ferramentas de <strong>autoconhecimento</strong> para você <strong>se diferenciar no Instagram</strong>.
					</p>
				</div>
			</div>
			<div class="columns">
				<div class="column is-half">
					<h2>Esse curso é para você que...</h2>
					<div class="content">
						<ul>
							<li>Tem um sonho de se tornar influencer</li>
							<li>Quer compartilhar uma história, experiência, hobbie e encontrar uma comunidade</li>
							<li>Quer uma renda extra</li>
							<li>Quer expor seu serviço no Instagram</li>
							<li>Sente-se insegura toda vez que se expõe na internet</li>
							<li>Acredita que não tem valor para passar e não consegue definir o seu nicho</li>
							<li>Não sabe como começar e crescer no Instagram</li>
							<li>Não consegue manter a constância</li>
						</ul>
					</div>
				</div>
				<div class="column is-half has-text-right">
					<img src="~/assets/img/ilustra2.svg">
				</div>
			</div>
			<div class="columns is-centered">
				<div class="column is-7">
					<h3 class="has-text-centered">
						<b>E principalmente:</b> <span>Acredita em trabalho e construção de carreira</span> sólida, não em fórmulas mágicas mentirosas.
					</h3>
				</div>
			</div>
			<div class="columns">
				<div class="column is-half">
					<img src="~/assets/img/ilustra3.svg">
				</div>
				<div class="column is-half">
					<h2>Aprenda</h2>
					<p>
						A como criar conexão emocional com os seus seguidores e ganhar dinheiro com sua vida real.
						<br /><br />
						As pessoas estão cansadas de perfeição, querem pessoas como <strong>VOCÊ</strong>!
					</p>
					<h2 class="mt">Esqueça as fórmulas de marketing</h2>
					<p>Conheça a si mesma e se mostre ao mundo!</p>
				</div>
			</div>
			<div class="columns is-centered">
				<div class="column is-narrow has-text-centered">
					<p class="price">De <span>R$400</span> por <b>R$250,00</b> ↘</p>
					<a class="button" href="https://pay.hotmart.com/W28688081G">
						EU QUERO SER INFLUENCER VIDA REAL
					</a>
					<span class="help">Os resultados podem variar de pessoa a pessoa</span>
				</div>
			</div>
		</div>
	</section>
</template>

<style lang="scss" scoped>
	.columns {
		align-items: center;
		margin-top: 100px;
		@media (max-width: 769px) {
			margin-top: unset;
		}
		h2.mt { margin-top: 42px; }
	}
	@media (max-width: 769px) {
		.button {
			font-size: 17px;
		}
		.columns:nth-of-type(2n) {
			display: flex;
			flex-direction: column;
			.column:first-of-type { order: 9; }
		}
	}
	@media (max-width: 320px) {
		.button {
			font-size: 14px;
		}
	}
</style>