<template>
	<section class="section">
		<div class="container">
			<h2>Depoimentos</h2>
			<div class="columns videos">
				<div class="column is-4">
					<div class="thumb" @click="thumb1()">
						<img src="~/assets/img/thumb1.png">
					</div>
				</div>
				<div class="column is-4">
					<div class="thumb" @click="thumb2()">
						<img src="~/assets/img/thumb2.png">
					</div>
				</div>
				<div class="column is-4">
					<div class="thumb" @click="thumb3()">
						<img src="~/assets/img/thumb3.png">
					</div>
				</div>
			</div>
			<div class="columns is-centered">
				<div class="column is-8 slide">
				  <b-carousel
						:pause-info="false"
						:interval="5000"
						:repeat="true"
						:indicatorInside="false"
						:arrow-hover="false"
						icon-size="is-medium"
						ref="parent"
					>
			      <b-carousel-item v-for="(feedback, i) in 10" :key="i">
			      	<div class="item">
			      		<img :src="require(`~/assets/img/feedbacks/${i}.jpeg`)">
			      	</div>
			      </b-carousel-item>
				  </b-carousel>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
	export default {
		methods: {
			thumb1() {
				this.$buefy.modal.open(
					`<figure class="image is-16by9">
						<iframe class="has-ratio" width="100%" height="auto" src="https://www.youtube.com/embed/LZQEUrFUjZo?playsinline=1&rel=0&modestbranding=1&autoplay=1" frameborder="0" allow="autoplay; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
					</figure>`
				)
			},
			thumb2() {
				this.$buefy.modal.open(
					`<figure class="image is-16by9">
						<iframe class="has-ratio" width="100%" height="auto" src="https://www.youtube.com/embed/xzVvZRpgYe4?playsinline=1&rel=0&modestbranding=1&autoplay=1" frameborder="0" allow="autoplay; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
					</figure>`
				)
			},
			thumb3() {
				this.$buefy.modal.open(
					`<figure class="image is-16by9">
						<iframe class="has-ratio" width="100%" height="auto" src="https://www.youtube.com/embed/WSVMU3M6T5c?playsinline=1&rel=0&modestbranding=1&autoplay=1" frameborder="0" allow="autoplay; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
					</figure>`
				)
			},
      moveDiv() {
        const parent = this.$refs.parent.$el
        const arrow = parent.querySelector('.carousel-arrow')
        parent.appendChild(arrow)
      }
		},
		mounted() {
			this.moveDiv()
		}
	}
</script>

<style lang="scss" scoped>
	.columns:last-of-type {
		margin-top: 96px;
	}
	.column.slide {
		display: flex;
		justify-content: center;
		align-items: center;
		background: #F5F9FF;
		border-radius: 20px;
		padding: 32px;
		.item {
			min-height: 370px;
			display: flex;
			justify-content: center;
			align-items: center;
			img {
				max-width: 320px;
			}
		}
	}
	.columns.videos > .column {
		display: flex;
		justify-content: center;
		@media (min-width: 770px) {
			&:first-of-type { justify-content: flex-start; }
			&:nth-of-type(2) { justify-content: center; }
			&:last-of-type { justify-content: flex-end; }
		}
	}
	.thumb {
		cursor: pointer;
		position: relative;
		max-width: 320px;
		max-height: 180px;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
		> img { width: 100%; }
		transition: all .2s ease;
		&::before {
			content: '';
			width: 40px;
			height: 42px;
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-image: url('~assets/img/play.svg');
			background-repeat: no-repeat;
		}
		@media (min-width: 770px) {
			&:hover {
				box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
				transform: scale(1.02);
			}
		}
	}
</style>