<template>
	<section class="section">
		<div class="container">
			<div class="columns">
				<div class="column">
					<h2>Oi, eu sou a Bella Lima!</h2>
					<p>
						Fiquei conhecida na internet em 2012 após emagrecer 30kg, e com isso divulgar meu estilo de vida na internet. Sou residente da baixada fluminense do Rio de Janeiro, ganhei destaque na minha região e auxiliei no crescimento de muitas empresas locais.
						As pessoas se apaixonam pelo meu jeito alegre e radiante, mas que não deixo de mostrar a realidade e meus problemas, assim as minhas seguidoras se sentem mais confortáveis em serem elas mesmas e criam <strong>confiança</strong> em mim.
						<br /><br />
						Hoje, eu tenho 88 mil seguidores, contrato com grandes empresas e uma
						<strong>conversão</strong> altíssima com resultados melhores que influencers de milhões de seguidores.
						<br /><br />
						Eu vou mostrar pra você que números não importam e sim seu poder de se conectar com as pessoas <strong>certas</strong>!
					</p>
					<p class="highlight">
						Em meio essa crise mundial, eu decidi mostrar todos os meus aprendizados e junto com uma equipe ensinar tudo que aprendi nesses 8 anos de Instagram com o intuito de ajudar outras mulheres a crescerem, seja como digital influencer ou divulgando seu próprio serviço!
					</p>
				</div>
				<div class="column has-text-right">
					<img src="~/assets/img/bella.png">
				</div>
			</div>
			<div class="columns is-multiline staff">
				<div class="column is-full">
					<h2>Equipe do Curso</h2>
				</div>
				<div class="column">
					<div class="has-text-centered">
						<img src="~/assets/img/adriana.png">
						<h4>Adriana Cunha</h4>
						<h5>Psicóloga</h5>
					</div>
					<div>
						<p>
							Terapeuta cognitivo-comportamental há 6 anos de experiência no mercado, atendendo mais de 150 pacientes no mês. Adriana vai te ajudar a entender como funciona sua autoestima e ensinar ferramentas para fortalecer! Através do autoconhecimento, você ganha seu diferencial no Instagram e é por isso que Adriana vai te dar o caminho a ser seguido.
						</p>
					</div>
				</div>
				<div class="column">
					<div class="has-text-centered">
						<img src="~/assets/img/tayna.png">
						<h4>Tayná Garcia</h4>
						<h5>Empresária</h5>
						<p class="sub">Cofunder da Equilibraê e Receita de Conteúdo</p>
					</div>
					<div>
						<p>
							A Equilibraê foi uma empresa que cresceu muito através da ação com Microinfluencers e com um posicionamento na Internet. Tayná já fez diversos tipo de cursos, somando mais de 20k e compartilhou todas as ferramentas aqui. Ela vai compartilhar com você tudo que aprendeu na prática para fazer seu instagram ir de 0 a 35 mil seguidores reais em menos de 2 anos e converter esses seguidores em clientes. Além disso, hoje ela criou a “Receita de Conteúdo” que auxilia Bella Lima na criação de conteúdo.
						</p>
					</div>
				</div>
			</div>
			<div class="columns is-centered">
				<div class="column is-7">
					<h3 class="has-text-centered">
						<b>Últimas vagas! <br>Vendas até <span>quarta-feira</span>.</b>
					</h3>
				</div>
			</div>
			<div class="columns is-centered">
				<div class="column is-narrow has-text-centered">
					<p class="price"><b>R$250,00</b> ou 6x de <b>R$41,66</b> ↘</p>
					<a class="button" href="https://pay.hotmart.com/W28688081G">
						QUERO AGORA!
					</a>
				</div>
			</div>
		</div>
	</section>
</template>

<style lang="scss" scoped>
	.highlight {
		margin-top: 24px;
		background: #F7EBE5;
		border-radius: 20px;
		padding: 20px 24px;
	}
	.columns.staff {
		> .column:not(:first-of-type) {
			background: #FAFAFA;
			border-radius: 20px;
			display: flex;
			flex-direction: column;
			padding: 32px;
			> div:last-of-type {
				margin-top: 42px;
				line-height: 24px;
				color: rgba(15, 26, 66, 0.75);
			}
		}
		@media (min-width: 770px) {
			> .column:last-of-type { margin-left: 32px; }	
		}
		@media (max-width: 769px) {
			> .column:last-of-type { margin-top: 32px; }	
		}
	}

	.columns:not(:first-of-type) {
		margin-top: 84px;
	}

	h4 {
		margin-top: 24px;
		margin-bottom: 12px;
	}

	.sub {
		color: #0F1A42;
		line-height: 26px;
		margin-top: 8px;
	}

	@media (max-width: 769px) {
		.columns:first-of-type {
			display: flex;
			flex-direction: column;
			.column:first-of-type {
				order: 9;
			}
		}
	}
</style>