<template>
  <div>
    <hero />
    <section-2 />
    <section-3 />
    <div class="container-fluid has-text-centered">
      <h2>Curso Online</h2>
      <h3>Disponível por <b>1 ano</b> para você ver quantas vezes quiser e de onde quiser.</h3>
    </div>
    <section-4 />
    <section-5 />
    <section-6 />
    <div class="container-fluid has-text-centered">
      <h2>E muito mais...</h2>
      <h3>Na primeira aula ao vivo, <b>Isabella irá abrir sua planilha financeira</b> e te mostrar resultados reais e sólidos.</h3>
    </div>
    <div class="columns is-centered">
      <div class="column is-narrow has-text-centered">
        <p class="price"><b>R$250,00</b> ou 6x de <b>R$41,66</b> ↘</p>
        <a class="button" href="https://pay.hotmart.com/W28688081G">
          EU ACREDITO NOS MEUS SONHOS E VOU INVESTIR EM MIM!
        </a>
      </div>
    </div>
    <footer-comp />
  </div>
</template>

<script>
import Hero from '~/components/Hero'
import Section2 from '~/components/Section2'
import Section3 from '~/components/Section3'
import Section4 from '~/components/Section4'
import Section5 from '~/components/Section5'
import Section6 from '~/components/Section6'
import FooterComp from '~/components/FooterComp'

export default {
  components: {
    Hero, Section2, Section3, Section4, Section5, Section6, FooterComp
  }
}
</script>

<style lang="scss" scoped>
  .container-fluid {
    margin-top: 48px;
    padding: 62px;
    background: rgba(247, 235, 229, 0.75);
    > h3 { max-width: 900px; margin: 0 auto; }
    &:last-of-type { margin-bottom: 100px; }
  }
  .columns {
    margin-top: 100px;
  }
  @media (max-width: 769px) {
    .button {
      font-size: 16px;
      height: 80px;
      max-width: 292px;
      white-space: normal;
    }
  }
</style>
