<template>
	<div style="margin-left: 20px;">
		<h1 style="margin-bottom: 5px;">Aviso Legal</h1>
		<p class="legal-text">
			Ao abordar questões financeiras, fazemos todos os esforços para garantir que estes representem fielmente nossos cursos e sua capacidade de crescer a sua carreira. No entanto, O METÓDO BELLA LIMA não garante que você conseguirá obter quaisquer resultados ou ganhar algum dinheiro usando qualquer uma de nossas ideias, ferramentas, estratégias e recomendações, e nada em nosso site é uma promessa ou garantia para você de ganhos futuros.
VOCÊ CONCORDA QUE O USO OU INCAPACIDADE DE USO DO METODO BELLA LIMA É POR SUA CONTA E RISCO. Ao adquirir nosso produto, você aceita, concorda e entende que você é totalmente responsável por seu progresso e resultados de sua participação e que nós não oferecemos nenhuma representação, garantia ou garantias verbalmente ou por escrito sobre seus ganhos, o lucro do negócio, o desempenho do marketing, o crescimento da audiência ou resultados de qualquer tipo. Você é o único responsável por suas ações e resultados na vida e negócios que dependem de fatores pessoais, incluindo, mas não necessariamente limitado a, a sua habilidade, conhecimento, habilidade, dedicação, conhecimento de negócios, rede e situação financeira, para citar apenas alguns. Você também entende que qualquer depoimento ou aprovações emitidas por nossos clientes ou público representado em nossos programas, sites, conteúdo, páginas de destino, páginas de vendas ou ofertas não foram avaliadas cientificamente por nós e os resultados experimentados pelos indivíduos podem variar significativamente.
Quaisquer declarações descritas no nosso site e ofertas são simplesmente nossa opinião e, portanto, não são garantias ou promessas de desempenho real. Nós não oferecemos assessoria jurídica, médica, psicológica ou financeira profissional.
		</p>
	</div>
</template>

<style lang="scss">
	.legal-text {
		text-align: justify;
		width: 500px;
	}

	@media (max-width: 600px) {
		.legal-text {
			width: 90%;
		}
	}
</style>